body{
  background-color: #fff;
  padding: 30px;
}
h1{
  color: cornflowerblue;
  font-family: Verdana;
  font-size: 300%;
}
p{
  color: rgb(66, 60, 49);
  font-family: courier;
  font-size: 160%;
  border: 5px solid salmon;
  padding: 10px;
  margin: 0 0 0 10px;
}